<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
    <add key="JWT_SECRET_KEY" value="ff137723-ad8e-4cca-b94d-6b2f8a9cf4b8" />
    <add key="JWT_AUDIENCE_TOKEN" value="https://localhost:44338" />
    <add key="JWT_ISSUER_TOKEN" value="https://localhost:44338" />
    <add key="JWT_EXPIRE_MINUTES" value="60" />
    <add key="USERNAME_EIT" value="WSFALABELLA" />
    <add key="PASSWORD_EIT" value="1234" />
    <add key="clientIdCloud" value="P5CnacebjLPqzBXvAFDOdHmqovihrhrQ" />
    <add key="secretsCloud" value="1y7Abv1lYIyjAXYz" />
    <add key="clientIdOnpremise" value="A9oxq9pCZ3nZULeHKWVs4EYaU95t7Xrx" />
    <add key="secretsOnpremise" value="VRdiHDMIfjvMEMJG" />
    <add key="USERNAME_MDL" value="FalabellaTEST" />
    <add key="PASSWORD_MDL" value="FLB290721" />
  </appSettings>
</configuration>